.idea
.env
.password
.genesis.json
.vscode

dist/
chains/
nContracts/
origContracts/
node_modules/

**/_build
alarmClient
alarmClient/*
coverage
coverage/*

alarm_client/*
contracts.info
contracts.json
gas.txt
notes.txt

script/wallet/keyfile
script/client/dep*
