sudo: required
dist: trusty
language: node_js
node_js:
  - '8.0.0'
install:
  - npm install -g truffle@4.0.6
  - npm install -g ganache-cli
  - npm install
script:
  - npm test
before_script:
  - ganache-cli > /dev/null &
  - sleep 5
after_script:
  - npm run coverage && cat coverage/lcov.info | coveralls

  